@page "/"

<PageTitle>Home</PageTitle>

<h3>Azure Service Bus Messages</h3>

<div class="container">
	<div class="row">
		<div class="col-6">
			<MessageSender />

		</div>
		<div class="col-6">
			<MessageListener />

		</div>
	</div>
</div>



@code {

}